body {
    background-color: #11131A;
    color: #526B80;
    font-family: 'Roboto Slab', serif;
}

hr {
    border-top: solid gainsboro 2px;
}

.artist-profile {
    border-radius: 150px;
}

.basic-app-holder {
    border-radius: 4px; 
    box-shadow: 0 0 3px darkslategray; 
    margin-top: 5%; 
    padding: 8%; 
    background-color: white;
}

.btn-contact {
    background-color: #E2AA3D;
    border-radius: 10px;
}

.btn-contact:hover {
    background-color: #F79303;
    color: gainsboro;
}

.btn-nav-item {
    color: #3048AC;
}

.btn-nav-item:hover {
    color: gainsboro;
}

.btn-search {
    background-color: #4A0063;
    color: white;
}

.btn-search:hover {
    background-color: #6F0094;
    color: white;
}

.fa-spotify {
    color: green;
}

.hover-hand {
    cursor: pointer;
}

.hover-hand:disabled {
    cursor: not-allowed;
}

.nav-background {
    background-color: #28262A;
}

.nav-top {
    background-color: #006062; 
}

.profile {
    border-radius: 1000px;
}

.sidebar-wrapper {
    display: inline-block;
    left: 0px;
    position: absolute;
}

.title-fade-out {
    opacity: 0;
    animation-name: fade-out;
    animation-duration: 2s;
}

.title-fade-in {
    opacity: 100;
    animation-name: fade-in;
    animation-duration: 2s;
}

.track {
    width: 100%;
    position: relative;
}

.track-hover {
    cursor: pointer;
    opacity: 0.75;
}

.track-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.track-hover:hover {
    opacity: 1;
}

.track-text {
    color: white;
    background-color: black;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.track-icon {
    position: absolute;
    bottom: 53%;
    left: 40%;
    color: white;
    font-weight: bold;
    background-color: black;
    height: 10%;
    width: 20%;
    border-radius: 100px;
    cursor: pointer;
    padding-top: 1.3%;
}

.sticky {
    position: -webkit-sticky; 
    position: sticky;
}

#prototypeToggle {
    background-color:skyblue; 
    border-bottom-right-radius: 5px; 
    border-bottom: 3px grey solid; 
}

#sidebar {
    min-width: 200px;
    max-width: 200px;
    min-height: 100vh;
    background-color: whitesmoke;
    box-shadow: 2px 2px 5px darkslategrey;
}

.list-group-item-action {
    cursor: pointer;
    color: black;
}

@keyframes fade-out {
    from {opacity: 100}
    to {opacity: 0}
}

@keyframes fade-in {
    from {opacity: 0}
    to {opacity: 100}
}